@import './variables.scss';

.action {
    font-size: 17px;
    letter-spacing: 0.02em;
    padding: 22px 50px;
    transition: background-color $fast, color $fast;

    &.main {
        font-weight: 400;
        
        background-color: $brand-color-green;
        color: $white;

        &:hover {
            background-color: $brand-color-dark-green;
        }
    }

    &.second {
        color: $brand-color-green;
        background-color: $white;
        border: 1px solid $brand-color-green;

        &:hover {
            color: $white;
            background-color: $brand-color-green;
        }
    }

    &.red {
        color: $color-product-red;
        background-color: $white;
        border: 1px solid $color-product-red;

        &:hover {
            color: $white;
            background-color: $color-product-red;
        }
    }

    &.arrow {
        padding: 16px 27px;
        background-color: rgba(110, 156, 159, 0.1);

        svg path {
            transition: stroke $fast;
        }

        &:hover {
            background-color: $brand-color-dark-green;
            
            svg path {
                stroke: $white;
            }
        }
    }
}