*, :before, :after {
    box-sizing: border-box;
}

html, body, .app, #root {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-width: 1600px;
    width: 100%;
    overflow-x: hidden;
}

body, button, ul, ol, h1, h2, h3, h4, h5, h6, p, fieldset, figure, dl, dd, blockquote {
    margin: 0;
}

ul, ol, fieldset, button, th, td {
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

button {
    background-color: transparent;
    cursor: pointer;
}

button, fieldset {
    border: 0;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: none;
}

strong, b, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

address, i {
    font-style: inherit;
}

img, svg {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: top;
    user-select: none;
}

svg {
    display: block;
}

[tabindex],
button {
    &:focus {
        outline: none;
    }
}

::-moz-focus-inner {
    border:0;
}
