// colors
$white                  : #FFFFFF;
$black                  : #000000;
$brand-color-green      : #6E9C9F;
$brand-color-dark-green : #509498;
$brand-color-gray       : #D1D1D1;

$promo-color-overlay    : #F1EADC;

// transition
$fast                   : .2s;
$normal                 : .5s;