// colors
$white                   : #FFFFFF;
$black                   : #000000;
$brand-color-green       : #6E9C9F;
$brand-color-dark-green  : #509498;
$brand-color-light-green : #CEDEDF;
$brand-color-light-gray  : #919191;
$brand-color-gray        : #D1D1D1;
$brand-color-dark-gray   : #998E78;

$input-gray-color        : #AFAFAF;
$brand-color-discount    : #9C9C9C;
$promo-color-overlay     : #F1EADC;
$label-color             : #808080;
$border-cart-color       : #CCCCCC;

$color-product-brown     : #927876;
$color-product-gray      : #D5D5D5;
$color-product-red       : #FD9696;
$color-product-orange    : #FDC796;

// transition
$fast                    : .2s;
$normal                  : .5s;