.contact-form {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 11;
    height: 100%;
    width: 100%;
    background: rgba(110, 156, 159, 0.95);
    transition: opacity $normal, visibility $normal;

    &.active {
        opacity: 1;
        visibility: visible;
    }

    form {
        position: fixed;
        top: 50%;
        left: 50%;
        padding: 70px;
        transform: translate(-50%, -50%);
        text-align: center;

        h2 {
            font-size: 25px;
            line-height: 1.4;
            letter-spacing: 0.02em;
        }

        .close-btn {
            position: absolute;
            right: 32px;
            top: 32px;
            transition: transform $fast;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
            }
        }

        .action.second {
            width: 168px;
            margin: 0 auto;
            cursor: pointer;
        }
    }
}