.filters {
    margin-bottom: 92px;

    &-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;

        li {
            padding: 19px 65px;
            border: 1px solid $black;
            transition: transform $normal, background-color $normal, color $normal;

            &.active {
                background-color: $black;
                color: $white;
                pointer-events: none;
            }

            &:hover {
                transform: translateY(-10px);
                background-color: $black;
                color: $white;
                cursor: pointer;
            }
        }
    }
}

.pagination {

    .container {
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    ul {
        display: flex;
        margin: 0 14px;
        
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 41px;
            height: 41px;
            margin-right: 14px;
            font-weight: 500;
            font-size: 17px;
            line-height: 1.4;
            transition: color $normal, background-color $normal, transform $normal;
            border: 1px solid $black;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            &.active {
                color: $white;
                background-color: $black;
                pointer-events: none;
            }

            &:hover {
                color: $white;
                background-color: $black;
                transform: translateY(-10px);
            }
        }
    }

    .arrow-btn {
        cursor: pointer;

        &.left {
            transform: rotate(180deg);
        }

        &.hide {
            display: none;
        }
    }
}