.pagination {
    
    ul {
        display: flex;
        justify-content: center;
        
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 41px;
            height: 41px;
            margin-right: 14px;
            font-weight: 500;
            font-size: 17px;
            line-height: 1.4;
            transition: color $fast, background-color $fast;
            border: 1px solid $black;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            &.active {
                color: $white;
                background-color: $black;
            }
        }
    }
}